footer{
    display: flex;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.contato{
    font-style:italic;
    margin-top: 100px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}
.mensagem.hidden{
    display: none;
}
input{
    outline: none;
}
.email::placeholder{
    color: green;
    background: url("../assets/email.svg")no-repeat;
    padding-left: 1.6rem;
}
#emailEnviar{
    border-radius: 32px;
    width: 350px;
    height: 20px;
    padding: 1rem;
    border-color:blueviolet;
}
.titulo{   
    background-image: linear-gradient(to left, #ff007f,#000137);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
